<html>
<includefile="./header.html" />
    <head>
        <title>Say方法</title>
    </head>
    <body>
    <h3>Say 方法的模板！！！</h3>

    <php>echo "姓名：".$name." <br/>年龄：".$age." <br/>";

    echo "用户名：".$msg['user_name']."<br/>"."联系方式：".$msg['phone']."<br/>"."邮箱：".$msg['email'];
    </php>
    <br/>
    <span style="font-family:microsoft yahei;color:#fc0;" >{$name}</span>

    <br/>
    <a href="__MODULE__/user/loginForm" style="text-decoration: none; color: darkred;font-weight: bold;font-size: 18px"> 点我登录</a>
    </body>
</html>