<!DOCTYPE HTML>
<html>
<head>
    <title>新用户注册</title>
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap-switch.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap-datetimepicker.min.css" />
    <script type="text/javascript" src="__PUBLIC__/Bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="table-responsive container" style="width:400px;margin-left:550px">
    <!--<table class="table table-hover table-striped"-->
        <form class="form-horizontal" role="form" method="post" action="__CONTROLLER__/regist">
            <span class="form-group"><label>用户名：</label><input type="text" class="form-control" name="user_name" placeholder="请输入新用户名" /></span>
            <span class="form-group"><label>昵称：</label><input type="text" class="form-control" name="nickname" placeholder="请输入昵称" /></span>
            <span class="form-group"><label>密码：</label><input type="password" class="form-control" name="password" placeholder="请输入密码" /></span>
            <span class="form-group"><label>确认密码：</label><input type="password" class="form-control" name="repass" placeholder="请再次输入密码" /></span>
            <span class="form-group"><label>邮箱：</label><input type="text" class="form-control" name="email" placeholder="请输入邮箱" /></span>
            <span class="form-group"><label>电话：</label><input type="text" class="form-control" name="phone" placeholder="请输入联系电话" /></span>
            <!--<span class="form-group"><label>邮箱：</label><input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email"></span>-->
            <span class="form-group container" style="">
                <button class="btn btn-success">确认注册</button>&nbsp;&nbsp;
                <input type="reset" class="btn btn-default" value="重 置" />
            </span>
        </form>
    <!--</table-->
</div>
</body>
</html>