<extend name="Public:layout" />
<block name="main-content">

    <!-- BEGIN PAGE CONTAINER-->

    <div class="container-fluid">

        <!-- BEGIN PAGE HEADER-->

        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN STYLE CUSTOMIZER -->

                <div class="color-panel hidden-phone">

                    <div class="color-mode-icons icon-color"></div>

                    <div class="color-mode-icons icon-color-close"></div>

                    <div class="color-mode">

                        <p>THEME COLOR</p>

                        <ul class="inline">

                            <li class="color-black current color-default" data-style="default"></li>

                            <li class="color-blue" data-style="blue"></li>

                            <li class="color-brown" data-style="brown"></li>

                            <li class="color-purple" data-style="purple"></li>

                            <li class="color-grey" data-style="grey"></li>

                            <li class="color-white color-light" data-style="light"></li>

                        </ul>

                        <label>

                            <span>Layout</span>

                            <select class="layout-option m-wrap small">

                                <option value="fluid" selected>Fluid</option>

                                <option value="boxed">Boxed</option>

                            </select>

                        </label>

                        <label>

                            <span>Header</span>

                            <select class="header-option m-wrap small">

                                <option value="fixed" selected>Fixed</option>

                                <option value="default">Default</option>

                            </select>

                        </label>

                        <label>

                            <span>Sidebar</span>

                            <select class="sidebar-option m-wrap small">

                                <option value="fixed">Fixed</option>

                                <option value="default" selected>Default</option>

                            </select>

                        </label>

                        <label>

                            <span>Footer</span>

                            <select class="footer-option m-wrap small">

                                <option value="fixed">Fixed</option>

                                <option value="default" selected>Default</option>

                            </select>

                        </label>

                    </div>

                </div>

                <!-- END BEGIN STYLE CUSTOMIZER -->

                <h3 class="page-title">

                    景点管理

                    <small>修改景点套餐</small>

                </h3>

                <ul class="breadcrumb">

                    <li>

                        <i class="icon-bookmark-empty"></i>

                        <a href="#">景点管理</a>

                        <span class="icon-angle-right"></span>

                    </li>

                    <li>

                        <a href="#">{$attraction_name.attr_name}</a>

                        <span class="icon-angle-right"></span>

                    </li>

                    <li>

                        <a href="#">修改套餐</a>

                        <span class="icon-angle-right"></span>

                    </li>
                </ul>

            </div>

        </div>

        <!-- END PAGE HEADER-->

        <!-- BEGIN PAGE CONTENT-->

        <div class="row-fluid">

            <div class="span12">

                <!-- BEGIN SAMPLE FORM PORTLET-->

                <div class="portlet box blue tabbable">

                    <div class="portlet-title">

                        <div class="caption">

                            <i class="icon-reorder"></i>

                            <span class="hidden-480">套餐信息</span>

                        </div>

                    </div>

                    <div class="portlet-body form">

                        <div class="tabbable portlet-tabs">
                                <br/><br/><br/><br/>

                            <div class="tab-content">

                                <div class="tab-pane active" id="portlet_tab1">

                                    <!-- BEGIN FORM-->

                                    <form action="__CONTROLLER__/attrDetailEdit" method="post" enctype="multipart/form-data" class="form-horizontal">

                                        <!--所属景点ID-->
                                        <input type="hidden" name="id" value="{$detailInfo.id}" />
                                        <input type="hidden" name="attr_id" value="{$detailInfo.attr_id}" />

                                        <!--套餐名称-->
                                        <div class="control-group">

                                            <label class="control-label">套餐名称：</label>

                                            <div class="controls">

                                                <input type="text" name="combo_name" value="{$detailInfo.combo_name}" placeholder="套餐名称" class="m-wrap large" />

                                            </div>

                                        </div>

                                        <!--图片上传-->
                                        <!--<div class="control-group">-->

                                            <!--<label class="control-label">图片上传：</label>-->
                                            <!--<div class="controls">-->
                                                <!--<input class="m-wrap large" name="pic" type="file" />-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--套餐价格-->
                                        <div class="control-group">

                                            <label class="control-label">套餐价格：</label>

                                            <div class="controls">

                                                <input type="text" name="attr_price" value="{$detailInfo.attr_price}" placeholder="价格" class="m-wrap large"/>

                                            </div>

                                        </div>

                                        <!--套餐销量-->
                                        <div class="control-group">

                                            <label class="control-label">套餐销量：</label>

                                            <div class="controls">

                                                <input type="text" name="attr_sale" value="0" value="{$detailInfo.attr_sale}" readonly placeholder="销量" class="m-wrap large" />

                                            </div>

                                        </div>

                                        <!--套餐状态-->
                                        <div class="control-group">

                                            <label class="control-label">套餐状态：</label>

                                            <div class="controls">

                                                <label class="radio">

                                                    <input type="radio" name="state" <if condition="$detailInfo.combo_state eq 1"> checked </if> value="1" />

                                                    在售中

                                                </label>

                                                <label class="radio">

                                                    <input type="radio" name="state" <if condition="$detailInfo.combo_state eq 2"> checked </if>  value="2" checked />

                                                    已下架

                                                </label>

                                                <label class="radio">

                                                    <input type="radio" name="state" <if condition="$detailInfo.combo_state eq 3"> checked </if>  value="3" />

                                                    等待上架

                                                </label>

                                            </div>

                                        </div>

                                        <!--套餐描述-->
                                        <div class="control-group">

                                            <label class="control-label">套餐内容：</label>

                                            <div class="controls">

                                                <textarea name="attr_con" class="large m-wrap" rows="7"  placeholder="套餐内容..." >{$detailInfo.attr_con}</textarea>

                                            </div>

                                        </div>

                                        <div class="form-actions">

                                            <button type="submit" class="btn blue"><i class="icon-ok"></i> 保 存 </button>&nbsp;&nbsp;

                                            <button type="reset" class="btn green"><i class="icon-reply"></i> 重 置 </button>

                                        </div>

                                    </form>

                                    <!-- END FORM-->

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!-- END SAMPLE FORM PORTLET-->

            </div>

        </div>

        <!-- END PAGE CONTENT-->

    </div>


</block>