<extend name="Public:Layout"/>
<block name="main-content">

    <div class="row-fluid">

        <div class="span12">

            <!-- BEGIN STYLE CUSTOMIZER -->

            <div class="color-panel hidden-phone">

                <div class="color-mode-icons icon-color"></div>

                <div class="color-mode-icons icon-color-close"></div>

                <div class="color-mode">

                    <p>THEME COLOR</p>

                    <ul class="inline">

                        <li class="color-black current color-default" data-style="default"></li>

                        <li class="color-blue" data-style="blue"></li>

                        <li class="color-brown" data-style="brown"></li>

                        <li class="color-purple" data-style="purple"></li>

                        <li class="color-grey" data-style="grey"></li>

                        <li class="color-white color-light" data-style="light"></li>

                    </ul>

                    <label>

                        <span>Layout</span>

                        <select class="layout-option m-wrap small">

                            <option value="fluid" selected>Fluid</option>

                            <option value="boxed">Boxed</option>

                        </select>

                    </label>

                    <label>

                        <span>Header</span>

                        <select class="header-option m-wrap small">

                            <option value="fixed" selected>Fixed</option>

                            <option value="default">Default</option>

                        </select>

                    </label>

                    <label>

                        <span>Sidebar</span>

                        <select class="sidebar-option m-wrap small">

                            <option value="fixed">Fixed</option>

                            <option value="default" selected>Default</option>

                        </select>

                    </label>

                    <label>

                        <span>Footer</span>

                        <select class="footer-option m-wrap small">

                            <option value="fixed">Fixed</option>

                            <option value="default" selected>Default</option>

                        </select>

                    </label>

                </div>

            </div>

            <!-- END BEGIN STYLE CUSTOMIZER -->

            <!-- BEGIN PAGE TITLE & BREADCRUMB-->

            <h3 class="page-title">

                景点管理 <small>景点列表</small>

            </h3>

            <ul class="breadcrumb">

                <li>

                    <i class="icon-bookmark-empty"></i>

                    <a href="index.html">景点管理</a>

                    <i class="icon-angle-right"></i>

                </li>

                <li>

                    <a href="#">景点列表</a>

                </li>

            </ul>

            <!-- END PAGE TITLE & BREADCRUMB-->

        </div>

    </div>

    <!-- END PAGE HEADER-->

    <!-- BEGIN PAGE CONTENT-->

    <div class="row-fluid">

        <div class="span12">
            <!--数 据-->

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption"><i class="icon-globe"></i>用户信息列表</div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
                <thead>
                <tr>
                    <th>景点ID</th>
                    <th>景点名</th>
                    <th class="hidden-480">折 扣</th>
                    <th class="hidden-480">景点状态</th>
                    <th class="hidden-480">归属地</th>
                    <th class="hidden-480">图片展示</th>
                    <th class="hidden-480">点击量</th>
                    <th class="hidden-480">添加时间</th>
                    <th class="hidden-480">操 作</th>

                </tr>
                </thead>
                <tbody>
                    <foreach name="attrInfo" item="attr">
                        <tr>
                            <td>{$attr.attr_id}</td>
                            <td>
                                <a href="__CONTROLLER__/attrDetailShow/id/{$attr.attr_id}" >{$attr.attr_name}</a></td>
                            <td class="hidden-480">{$attr.attr_discount}</td>
                            <td class="hidden-480">{$state[$attr['state']]}</td>
                            <td class="hidden-480">{$attr.attr_belong}</td>
                            <td class="hidden-480">
                                <if condition="($attr.pic eq 1)">
                                    <span>暂无图片</span>
                                    <else /><img width="150px" src="__PUBLIC__/Uploads/{$attr.pic}"/>
                                </if>
                            </td>
                            <td class="hidden-480">{$attr.attr_click}</td>
                            <td class="hidden-480">{$attr.createtime}</td>
                            <td class="hidden-480">
                                <a class="btn green" href="__CONTROLLER__/attrEditForm/id/{$attr.attr_id}">修改</a>
                                <a class="btn purple" href="__CONTROLLER__/picEditForm/id/{$attr.attr_id}">改图</a>
                                <a class="btn blue" href="__CONTROLLER__/detailAddForm/id/{$attr.attr_id}">添加套餐</a>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
        </div>
    </div>

        </div>

    </div>

</block>